[submodule "include/clipp"]
	path = include/clipp
	url = https://github.com/muellan/clipp.git
	branch = master
[submodule "include/hpc_helpers"]
	path = include/hpc_helpers
	url = https://gitlab.rlp.net/pararch/hpc_helpers
